
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> LS-KI ###
/.env.prod
/docker/nginx/certs/*.key
/docker/nginx/certs/*.crt
/docker/nginx/certs/*.pem
###< LS-KI ###
